<!DOCTYPE html>
<html lang="en">
  <head>
    <?!= include('header');?>
  </head>

  <body>
    <main style="margin-top: 32px" onload="disable_dates()">
      <!-- <?!= include('navigation');?> -->
      <div class="container-fluid">
        <h1 class="">Manage Accounts</h1>
        <div class="container-fluid">
          <div class="row g-5 py-4">
            <!-- left side col -->
            <div class="col-md-7 col-lg-8">
              <table class="table table-striped w-100 table-responsive table-hover">
                <caption></caption>
                <thead style="background-color: Gainsboro">
                  <th scope="col" class="col-3">Group</th>
                  <th scope="col" class="col-6">Name</th>
                  <th scope="col" class="text-end col-2">Balance</th>
                  <th scope="col" class="text-center col-1">Manage</th>
                </thead>
                <tr>
                  <td>{{ item[1] }}</td>
                  <td>{{ item[2] }}</td>
                  <td class="text-end">{{ balance }}</td>
                  <td class="text-center">🛠️</td>
                </tr>
              </table>
            </div>
            <!-- left side col ends & right col begins -->
            <div class="col-md-5 col-lg-4">
              <form id="myForm" onsubmit="handleFormSubmit(this)" method="post">
                <input type="text" id="account" name="account" class="form-control my-2 input" placeholder="Account Name" />
                <input type="text" id="description" name="description" class="form-control my-2 input" placeholder="Description" />
                <select class="form-select my-2" id="account_type" name="account_type">
                  <option disabled selected>Select Account Group</option>
                  <?!= account_group; ?>
                </select>
                <select class="form-select my-2" id="base_currency" name="base_currency">
                  <option disabled selected>Base Currency of the Account</option>
                  <?!= base_currency; ?>
                </select>
                <select class="form-select my-2" id="include" name="include">
                  <option selected disabled>Include in Totals?</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
                <select class="form-select my-2" id="hide" name="hide">
                  <option selected disabled>Hide from the Summary?</option>
                  <option>Yes</option>
                  <option>No</option>
                </select>
                <input type="text" id="settlement_date" name="settlement_date" class="form-control my-2 input" placeholder="Settlement Date" />
                <input type="text" id="payment_date" name="payment_date" class="form-control my-2 input" placeholder="Payment Date" />
                <button type="submit" class="btn btn-primary">Create New Account</button>
                <!-- <div class="alert alert-danger" role="alert"></div> -->
              </form>
            </div>
            <!-- right col ends -->
          </div>
          <div id="output"></div>
        </div>
      </div>
    </main>
    <?!= include('footer');?>
    <script>
      document.getElementById('account').classList.add('active');
      document.getElementById('dashboard').href = '<?= ScriptApp.getService().getUrl(); ?>?page=dashboard';
      document.getElementById('transactions').href = '<?= ScriptApp.getService().getUrl(); ?>?page=transactions';
      document.getElementById('agroup').href = '<?= ScriptApp.getService().getUrl(); ?>?page=agroup';
      document.getElementById('account').href = '<?= ScriptApp.getService().getUrl(); ?>?page=account';
      document.getElementById('category').href = '<?= ScriptApp.getService().getUrl(); ?>?page=category';
      document.getElementById('currency').href = '<?= ScriptApp.getService().getUrl(); ?>?page=currency';
      document.getElementById('canalysis').href = '<?= ScriptApp.getService().getUrl(); ?>?page=canalysis';
      document.getElementById('tanalysis').href = '<?= ScriptApp.getService().getUrl(); ?>?page=tanalysis';
      document.getElementById('profile').href = '<?= ScriptApp.getService().getUrl(); ?>?page=profile';
      document.getElementById('support').href = '<?= ScriptApp.getService().getUrl(); ?>?page=support';
    </script>
  </body>
</html>
