<!DOCTYPE html>
<html lang="en">
  <head>
    <?!= include('header');?>
    <title>Money Tracker - Currency</title>
  </head>

  <body>
    <main style="margin-top: 32px" onload="disable_dates()">
      <!-- <?!= include('navigation');?> -->
      <div class="container-fluid">
        <h1 class="">Manage Currency and FX Rates</h1>
        <div class="container-fluid">
          <div class="row g-5 py-4">
            <!-- left side col -->
            <div class="col-md-7 col-lg-8">
              <table class="table table-striped w-100 table-responsive table-hover">
                <caption></caption>
                <thead style="background-color: Gainsboro">
                  <th scope="col">Currency Name</th>
                  <th scope="col" class="text-center">Code</th>
                  <th scope="col" class="text-center">Symbol</th>
                  <th scope="col" class="text-end">Rate in USD</th>
                  <th scope="col" class="text-end">Rate per USD</th>
                  <th scope="col" class="text-end">Time Updated (in GMT)</th>
                </thead>
                <tr>
                  <td>{{ item.name }}</td>
                  <td class="text-center">{{ item.code }}</td>
                  <td class="text-center">{{ item.symbol }}</td>
                  <td class="text-end">{{ item.in_usd|round(4) }}</td>
                  <td class="text-end">{{ item.per_usd|round(5) }}</td>
                  <td class="text-end">{{ item.updated_time.strftime('%Y-%m-%d %H:%M:%S') }}</td>
                </tr>
              </table>
            </div>
            <!-- left side col ends & right col begins -->
            <div class="col-md-5 col-lg-4">
              <form id="myForm" onsubmit="handleFormSubmit(this)" method="post">
                <input type="text" id="currency_code" name="currency_code" class="form-control my-2 input" placeholder="Currency Code" />
                <input type="text" id="rate_usd" name="rate_usd" class="form-control my-2 input" placeholder="FX Rate in USD" />
                <input type="text" id="rate_reported" name="rate_reported" class="form-control my-2 input" placeholder="FX Rate in Reported Currency" />
                <input type="text" id="currency_symbol" name="currency_symbol" class="form-control my-2 input" placeholder="Symbol of the Currency" />

                <button type="submit" class="btn btn-primary">Create New Currency</button>
                <!-- <div class="alert alert-danger" role="alert"></div> -->
              </form>
            </div>
            <!-- right col ends -->
          </div>
          <div id="output"></div>
        </div>
      </div>
    </main>
    <?!= include('footer');?>
    <script>
      document.getElementById('currency').classList.add('active');
      document.getElementById('dashboard').href = '<?= ScriptApp.getService().getUrl(); ?>?page=dashboard';
      document.getElementById('transactions').href = '<?= ScriptApp.getService().getUrl(); ?>?page=transactions';
      document.getElementById('agroup').href = '<?= ScriptApp.getService().getUrl(); ?>?page=agroup';
      document.getElementById('account').href = '<?= ScriptApp.getService().getUrl(); ?>?page=account';
      document.getElementById('category').href = '<?= ScriptApp.getService().getUrl(); ?>?page=category';
      document.getElementById('currency').href = '<?= ScriptApp.getService().getUrl(); ?>?page=currency';
      document.getElementById('canalysis').href = '<?= ScriptApp.getService().getUrl(); ?>?page=canalysis';
      document.getElementById('tanalysis').href = '<?= ScriptApp.getService().getUrl(); ?>?page=tanalysis';
      document.getElementById('profile').href = '<?= ScriptApp.getService().getUrl(); ?>?page=profile';
      document.getElementById('support').href = '<?= ScriptApp.getService().getUrl(); ?>?page=support';
    </script>
  </body>
</html>
