<!DOCTYPE html>
<html>
  <head>
    <?!= include('header');?>
    <script>
      google.script.run.updateNavbarLinks();
      console.log(window.location.hostname);
      console.log(google.script.run.ScriptApp.getService().getUrl());
    </script>
  </head>
  <body>
    <!-- <?!= include('navigation');?> -->
    <main>
      <div class="container-fluid">
        <h1>Welcome anbuchelva!</h1>
        <div class="row mb-3">
          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Profile</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Manage your profile for backups, password, etc.,</p>
                <a class="btn btn-primary" href="{{ url_for('profile') }}">Access Profile</a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Transactions</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Manage your daily transactions such as Income, Expense & Transfers.</p>
                <a class="btn btn-primary" href="{{ url_for('transactions') }}">Start Input</a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Account Group</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Manage your Account Groups such as Wallet, Bank Accounts, Credit Card, etc..</p>
                <a class="btn btn-primary" href="{{ url_for('account_group') }}">Manage Account Groups</a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Account</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Manage your account such as ABC Bank, XYZ Credit Card, etc..</p>
                <a class="btn btn-primary" href="{{ url_for('account') }}">Manage Accounts</a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Categories</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Manage category of expenses and income, such as food, fuel, salary, etc.,</p>
                <a class="btn btn-primary" href="{{ url_for('category') }}">Manage Categories</a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Currencies</h5>
              </div>
              <div class="card-body">
                <p class="card-text">This is the place you define the primary currency, the currencies that you transact.</p>
                <a class="btn btn-primary" href="{{ url_for('currencies') }}">Manage Currencies</a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Category Analysis</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Analyse the transactions by Account Category and make decisions.</p>
                <a class="btn btn-primary" href="{{ url_for('category_analysis') }}">Analyse by Category</a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Trend Analysis</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Analyse the trend of your earnings and spends by Accounts over the period.</p>
                <a class="btn btn-primary" href="{{ url_for('trend_analysis') }}">Analyse by Accounts</a>
              </div>
            </div>
          </div>

          <div class="col-xl-3 col-lg-4 col-md-5 col-sm-6 themed-grid-col py-3">
            <div class="card">
              <div class="card-header">
                <h5 class="card-title my-0 py-1">Support</h5>
              </div>
              <div class="card-body">
                <p class="card-text">Having a suggestion or query? I'll try to support.</p>
                <a class="btn btn-primary" href="{{ url_for('profile') }}">Get Support</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script>
      document.getElementById('dashboard').classList.add('active');
      // document.getElementById('dashboard').href = '<?= ScriptApp.getService().getUrl(); ?>?page=dashboard';
      // document.getElementById('transactions').href = '<?= ScriptApp.getService().getUrl(); ?>?page=transactions';
      // document.getElementById('agroup').href = '<?= ScriptApp.getService().getUrl(); ?>?page=agroup';
      // document.getElementById('account').href = '<?= ScriptApp.getService().getUrl(); ?>?page=account';
      // document.getElementById('category').href = '<?= ScriptApp.getService().getUrl(); ?>?page=category';
      // document.getElementById('currency').href = '<?= ScriptApp.getService().getUrl(); ?>?page=currency';
      // document.getElementById('canalysis').href = '<?= ScriptApp.getService().getUrl(); ?>?page=canalysis';
      // document.getElementById('tanalysis').href = '<?= ScriptApp.getService().getUrl(); ?>?page=tanalysis';
      // document.getElementById('profile').href = '<?= ScriptApp.getService().getUrl(); ?>?page=profile';
      // document.getElementById('support').href = '<?= ScriptApp.getService().getUrl(); ?>?page=support';
    </script>
  </body>
</html>
