<nav class="navbar navbar-expand-lg bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="home">Money Tracker</a>
        <button
                class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarToggler"
                aria-controls="navbarToggler"
                aria-expanded="false"
                aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Docs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled">Pricing</a>
                </li>
            </ul>
            <div class="text-light">
                <hr/>
            </div>
            <!-- {% if current_user.is_authenticated: %} -->
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="{{ url_for('dashboard') }}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('logout') }}">Log Out</a>
                </li>
            </ul>
            <!-- {% else: %} -->
            <div class="justify-content-end">
                <button class="btn btn-outline-light" onclick="window.location.href='{{ url_for( 'login') }}'"
                        name="login" style="width: 100px">Login
                </button>
                <button class="btn btn-primary" onclick="window.location.href='{{ url_for( 'register') }}'"
                        name="register" style="width: 100px">Register
                </button>
            </div>
            <!-- {% endif %} -->
        </div>
    </div>
</nav>
<!-- Sidebar -->
<nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
    <div class="position-sticky">
        <div class="list-group list-group-flush mx-3 mt-4">
            <a href="" id="dashboard" class="list-group-item list-group-item-action py-2"><i
                    class="fa-solid fa-gauge-high fa-fw me-3"></i> <span>Dashboard</span></a>
            <a href="" id="transactions" class="list-group-item list-group-item-action py-2"> <i
                    class="fas fa-pencil fa-fw me-3"></i> <span>Transactions</span> </a>
            <a href="" id="agroup" class="list-group-item list-group-item-action py-2"><i
                    class="fas fa-layer-group fa-fw me-3"></i> <span>Account Group</span></a>
            <a href="" id="account" class="list-group-item list-group-item-action py-2"> <i
                    class="fas fa-book fa-fw me-3"></i> <span>Accounts</span> </a>
            <a href="" id="category" class="list-group-item list-group-item-action py-2"><i
                    class="fas fa-dollar fa-fw me-3"></i> <span>Categories</span></a>
            <a href="" id="currency" class="list-group-item list-group-item-action py-2"><i
                    class="fas fa-money-bill fa-fw me-3"></i> <span>Currencies</span></a>
            <a href="" id="canalysis" class="list-group-item list-group-item-action py-2"
            ><i class="fas fa-chart-pie fa-fw me-3"></i> <span>Category Analysis</span></a
            >
            <a href="" id="tanalysis" class="list-group-item list-group-item-action py-2"><i
                    class="fas fa-chart-line fa-fw me-3"></i> <span>Trend Analysis</span></a>
            <a href="" id="profile" class="list-group-item list-group-item-action py-2"><i
                    class="fas fa-user fa-fw me-3"></i> <span>Profile</span></a>
            <a href="" id="support" class="list-group-item list-group-item-action py-2"><i
                    class="fas fa-question fa-fw me-3"></i> <span>Support</span></a>
        </div>
    </div>
</nav>
<!-- Sidebar -->
